### Node ###
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

### Build ###
dist/
build/
coverage/

### Prisma ###
/.prisma/
*.db
*.sqlite

### Env ###
.env
.env.*.local

### Uploads and runtime files ###
public/uploads/
uploads/
tmp/

### Docker ###
docker-compose.override.yml
docker-compose.*.yml
Dockerfile*

### Logs ###
logs
*.log

### Editor ###
.vscode/
.idea/

### OS ###
.DS_Store
Thumbs.db

### Misc ###
.env.local
.cache/
npm-debug.log*
